# Byte-compiled / optimized / DLL files
.cache/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.installed.cfg
*.egg
dist/
.coverage
cover/
pylint.out
app.log*

# Ignore built doc folders
circle-junit/
